body{
      Background-color:black;
      font-family:beautiful-web-type;
      color:red;
}
h1{
    font-family:cursive;
}
h2{
    font-family:cursive;
}
h3{
    font-family:cursive;
}
p{
  width: 30px;
  text-align:center;
  direction:ltr;
}
img{
    background-size: 20px;
} 
button{
        border-color:pink;
        border-width: 2px 2px 2px;
        border-button-color:blue;
        border-style:double;
}
