{
  padding: 0;
  margin: 0;
}
body{
      background-color: whitesmoke;
      height: 100vh;
      display: flex;
      justify-conten: center;
}
button{
        width: 12rem;
        position: relative;
        height: 4rem;
        border: 3px solid indigo;
        font-family: verdana, geneva, tahoma;
        text-transform: uppercase;
        background-color: transparent;
        color:black;
        transition: 2s;
        border-radius: 15px;
        font-size: 15px;
        font-weight:bold;
        cursor: pointer;
}
button:hover{
              box-shadow: inset 0px 0px 25px indigo;
}
